@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


/* Inisialisasi */

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #252839;
}

.nav-bar {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: sticky;
  padding: 0px;
}

.nav-bar ul {
  margin: auto;
  width: fit-content;
  padding: 10px;
  box-sizing: border-box;
}
.nav-bar ul li {
  display: inline;
  margin: 0 10px;
}

.nav-bar a{
  position: relative;
  display: inline-block;
  padding: 15px 30px ;
  border: 2px solid #f1bd3f;
  margin: 20px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  color: white;
  -webkit-box-reflect: below 0px linear-gradient(transparent,#0002);
  transition: 0.5s;
  transition-delay: 0s;
}

.nav-bar a:hover {
  transition-delay: 1.5s;
  color: black;
  box-shadow: 0 0 10px #f1bd3f,
  0 0 20px #f1bd3f,
  0 0 40px #f1bd3f,
  0 0 80px #f1bd3f,
  0 0 100px #f1bd3f;
}

.nav-bar span{
  position: relative;
  z-index: 100;
}

/* ------------------------------- Nav-Bar Animation ------------------------ */
.nav-bar  a::before{
  content: '';
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #f1bd3f;
  box-shadow: 5px -8px 0 #f1bd3f,
              5px 8px 0 #f1bd3f ;
  transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s,0.5s,0s,0s;
}

.nav-bar a:hover::before{
  width: 60%;
  height: 110%;
  left: -2px;
  box-shadow: 5px 0 0 #f1bd3f,
              5px 0 0 #f1bd3f ;
  transition-delay: 0s,0.5s,1s,1s;
}


.nav-bar  a::after{
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background: #f1bd3f;
  box-shadow: -5px -8px 0 #f1bd3f,
              -5px 8px 0 #f1bd3f ;
  transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
  transition-delay: 1s,0.5s,0s,0s;
}

.nav-bar a:hover::after{
  width: 60%;
  height: 110%;
  right: -2px;
  box-shadow: -5px 0 0 #f1bd3f,
              -5px 0 0 #f1bd3f ;
  transition-delay: 0s,0.5s,1s,1s;
}

/*--------------------- Landing Page------------------ */


.welcome{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #252839;
}
.welcome .welcome-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;  
  transform: translate(-50%,-50%);
  width: 100%;
}

.welcome .welcome-text span {
  text-transform: uppercase;
  display: block;
}

.welcome .welcome-text .text1{
  color: white;
font-size: 60px;
font-weight: 700;
letter-spacing: 8px;
margin-bottom: 20px;
background: #252839;
position: relative;
animation: text 10s infinite;
}

.welcome .welcome-text .text2{
  font-size: 30px;
  color: #FFD369;
}
@keyframes text{
  0%{
    
    margin-bottom: -55px;
  }

  15%{
    letter-spacing: 15px;
    margin-bottom: -55px;
  }

  30%{
    letter-spacing: 8px;
    margin-bottom: -55px;
  }

  50%{
    letter-spacing: 8px;
    margin-bottom: 20px;
  }

  80%{
    letter-spacing: 8px;
    margin-bottom: -55px;
  }

  100%{
    
    letter-spacing: 8px;
    margin-bottom: -55px;
  }

}


/*--------------------------------------- HOME ---------------------------- */

.home {
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  background-color: #31313b;
  background-blend-mode: color-burn;
  background-size: cover;
  position: relative;
}

.home .home-isi {
  width: 40%;
  padding: 40px;
}

/* ---------- Gambar --------- */
.home .home-isi .gambar .diri{
  width: 70%;
  position: absolute;
  top: 10%;
  left: 17.5%;
}
.home .home-isi .gambar .icon1{
  width: 10%;
  position: absolute;
  top: 70%;
  left: 17.5%;
  opacity: 0.7;
}


.home .home-isi h3{
  position:absolute;
  top:22%;
  left: 7%;
  font-size: 70px;
  opacity: 40%;
}
.home .home-isi h1{
  position: absolute;
  top: 32%;
  left: 7%;
  font-size: 65px;
  word-spacing: 10px;
}
.home .home-isi h4{
position:absolute;
top: 56%;
left: 7%;
font-size: 20px;
letter-spacing: 2px;
}

.home .home-isi p{
  position: absolute;
  top: 47%;
  left: 7%;
  word-spacing: 2px;
}
.home .home-isi .persegi{
  font-size: 0px;
  background-color: #f1bd3f;
  color: #f1bd3f;
  position: absolute;
  width: 400px;
  height: 10px;
  top: 43%;
  border-radius: 15px;

}

/* ----------------- ICON SOFTWARE  ------------------ */
.home .home-isi .box{
  position: absolute;
  top: 58%;
  left: 3.5%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  transition: 0.8s;
}
.home .home-isi .box .imgbox{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.home .home-isi .box .imgbox img{
  max-width: 100%;
  opacity: 0.3;
  transition: 0.5s;
}

.home .home-isi .box:hover{
height: 170px;
}

.home .home-isi .box:hover .imgbox img {
  opacity: 1;
}
.home .home-isi .box::before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.home .home-isi .box::after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
}

.home .home-isi .box .content{
  position: absolute;
  bottom: 0;
  
  right: -70px;
  bottom: -20px;
  height: 90px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.home .home-isi .box:hover .content{
  opacity: 1;
}

.home .home-isi .box .content h2{
  font-size: 20px;
  color: white;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}

/* ----------------- ICON SOFTWARE 1------------------ */
.home .home-isi .box1{
  position: absolute;
  top: 68%;
  left: 3.5%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  transition: 0.8s;
}
.home .home-isi .box1 .imgbox1{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.home .home-isi .box1 .imgbox1 img{
  max-width: 100%;
  opacity: 0.3;
  transition: 0.5s;
}

.home .home-isi .box1:hover{
height: 170px;
}

.home .home-isi .box1:hover .imgbox1 img {
  opacity: 1;
}
.home .home-isi .box1::before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.home .home-isi .box1::after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
}

.home .home-isi .box1 .content1{
  position: absolute;
  bottom: 0;
  
  right: -72px;
  bottom: -20px;
  height: 90px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.home .home-isi .box1:hover .content1{
  opacity: 1;
}

.home .home-isi .box1 .content1 h2{
  font-size: 20px;
  color: white;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}




/* ----------------- ICON SOFTWARE 2  ------------------ */

.home .home-isi .box2{
  position: absolute;
  top: 58.9%;
  left: 13%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  transition: 0.8s;
}
.home .home-isi .box2 .imgbox2{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.home .home-isi .box2 .imgbox2 img{
  max-width: 85%;
  opacity: 0.3;
  transition: 0.5s;
}

.home .home-isi .box2:hover{
height: 170px;
}

.home .home-isi .box2:hover .imgbox2 img {
  opacity: 1;
}
.home .home-isi .box2::before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.home .home-isi .box2::after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
}

.home .home-isi .box2 .content2{
  position: absolute;
  bottom: 0;
  
  right: -70px;
  bottom: -20px;
  height: 90px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.home .home-isi .box2:hover .content2{
  opacity: 1;
}

.home .home-isi .box2 .content2 h2{
  font-size: 20px;
  color: white;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
}


/* ----------------- ICON SOFTWARE 3------------------ */
.home .home-isi .box3{
  position: absolute;
  top: 68%;
  left: 12.2%;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  transition: 0.8s;
}
.home .home-isi .box3 .imgbox3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.home .home-isi .box3 .imgbox3 img{
  max-width: 110%;
  opacity: 0.3;
  transition: 0.5s;
}

.home .home-isi .box3:hover{
height: 170px;
}

.home .home-isi .box3:hover .imgbox3 img {
  opacity: 1;
}
.home .home-isi .box3::before{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}
.home .home-isi .box3::after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
}

.home .home-isi .box3 .content3{
  position: absolute;
  bottom: 0;
  
  right: -72px;
  bottom: -20px;
  height: 90px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.home .home-isi .box3:hover .content3{
  opacity: 1;
}

.home .home-isi .box3 .content3 h2{
  font-size: 20px;
  color: white;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1px;
  
}

/* ----------------------------- Portofolio ------------------------------------*/

.portofolio{
  width: 100%;
  height: 100vh;
  background-color: #252839;
  box-sizing: border-box;
  position: relative;
}

.portofolio h3{
  font-size: 60px;
  font-weight: bold;
  position: absolute;
  top: 16% ;
  left: 5%;
  letter-spacing: 2px;  
}

.portofolio button{
  position:absolute;
  top: 87%;
  left: 45%;
  height: 60px;
  width: 160px;
  color: #FFD369;
  border: 5px solid #FFD369;
  background-color: #31313b;
  border-radius: 20px;
  letter-spacing: 1px;
}

.portofolio button:hover{
background-color: #FFD369;
color: #31313b;
border: 5px solid #232329;
}

/* -----------Card 1 ---------- */

.portofolio .card1{
  height: 500px;
  width: 700px;

  background-color: #31313b;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  left: 5%;
}

.portofolio .card1 h4{
  font-size: 23px;
  color: #FFD369;
  position: absolute;
  top: 6%;
  left: 3%;
}

.portofolio .card1 h2{
  font-size: 30px;
  position: absolute;
  top: 13%;
  left: 3%;
}

.portofolio .card1 img{
  width: 98%;
  border-radius: 20px;
  position: absolute;
  top: 30%;
}

/* ========== Card 2 ============== */

.portofolio .card2{
  height: 500px;
  width: 700px;
  background-color: #31313b;
  border-radius: 5px;
  position: absolute;
  top: 30%;
  left: 48%;
}

.portofolio .card2 h4{
  font-size: 23px;
  color: #FFD369;
  position: absolute;
  top: 6%;
  left: 3%;
}

.portofolio .card2 h2{
  font-size: 30px;
  position: absolute;
  top: 15%;
  left: 3%;
}

.portofolio .card2 img{
  width: 99%;
  border-radius: 20px;
  position: absolute;
  top: 32%;
}




/*--------------------------------- About-------------------------------------- */
.about {
  width: 100%;
  height: 100vh;
  background-color: #382f2c;
}

.about .about-kiri {
  width: 50%;
  float: left;
  padding: 30px;
  box-sizing: border-box;
}

.about .about-kiri h3 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 15px;
}

.about .about-kiri p {
  font-size: 18px;
  margin-bottom: 15px;
}

.about .about-kiri h3 span {
  color: #b85c38;
}

.about .about-kanan {
  width: 50%;
  float: left;
}

.about .about-kanan img {
  width: 100%;
  height: 900px;
  object-fit: cover;
}


.clear {
  clear: left;
}



/* -----------------contact us---------------- */
.contact-us {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  background-color: #232329;
}

.contact-us h4 {
  width: fit-content;
  margin: 10px auto;
  font-size: 50px;
  font-weight: bold;
}

.contact-us h4 span {
  color: #ff5f20;
}

/* -----------form------------ */

.contact-us form {
  width: 600px;
  margin: auto;
}

.contact-us form label {
  display: block;
  font-size: 20px;
}

.contact-us form .inputS {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: white;
}

.contact-us form textarea {
  width: 100%;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
}

.contact-us form .likeInput {
  display: inline;
}

.contact-us form label.like {
  display: inline;
}

.contact-us form a {
 position: relative;
 display: inline-block;
 padding: 15px 40px;
 border: 2px solid white;
 text-transform: uppercase;
 color: white;
 text-decoration: none;
 font-weight: 600;
 font-size: 20px;
}

.contact-us form a:before{
content: '';
position: absolute;
top: 6px;
left: -2px;
width: calc(100% + 4px);
height: calc(100% - 12px);
background: #232329;
transition: 0.8s ease-in-out;
transform: scaleY(1);
transition-delay: 0.8s;
}

.contact-us form a:hover::before{
  transform: scaleY(0);
}

.contact-us form a::after{
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width : calc(100% - 12px);
  background: #232329;
  transition: 0.8s ease-in-out;
  transform: scalex(1);
  }

  .contact-us form a:hover::after{
    transform: scalex(0);
  }

.contact-us form a span{
  position: relative;
  z-index: 3;
}


/* ====== Responsif Tablet ====== */
@media screen and (max-width: 1024px) {
  .nav-bar a {
    padding: 10px 20px;
  }
  .nav-bar ul {
    font-size: 10px;
  }

  .home .home-isi .gambar .diri{
    top: 0%;
    left: 10%;
    width: 85%;
  }
  .home .home-isi h3{
    font-size: 40px;
    top: 40%;
  }

  .home .home-isi h1{
    font-size: 45px;
    top: 47%;

  }
  .home .home-isi .persegi{
    top: 55% ;
  }

  .home .home-isi p{
    font-size: 17px;
    top: 60%;
  }

  .home .home-isi h4{
    font-size: 20px;
    top: 70%;

  }

  .home .home-isi .box{
    top: 73%;
    left: 0%;
  }
  .home .home-isi .box1{
    top: 82%;
    left: 0%;

  }
  .home .home-isi .box2{
    top: 73.9%;
    left: 20%;

  }
  .home .home-isi .box3{
    top: 82%;
    left: 18%;

  }


.portofolio h3{
  font-size: 50px;
  top: 5%;
}
.portofolio .card1{
top: 12%;
width: 750px;
height: 500px;
}

.portofolio .card2{
  top: 57%;
  left: 5%;
  width: 750px;
  height: 500px;
}

.portofolio button{
  left: 40%;
  top: 90%;
}

  .contact-us form {
    width: 500px;
    margin: auto;
  }

  
}



/* ========= Responsif HP ====== */

@media screen and (max-width: 430px) {
  .nav-bar a {
    padding: 10px 20px;
  }
  .nav-bar ul li {
    margin: 0 5px;
  }
  .nav-bar ul {
    font-size: 10px;
  }


  .welcome .welcome-text .text1{
    color: white;
  font-size: 40px;
  }
  

  .welcome .welcome-text .text2{
    font-size: 20px;
    color: #FFD369;
  }


  .home .home-isi .gambar .diri{
    top: 0%;
    left: 10%;
    width: 80%;
  }
  .home .home-isi h3{
    font-size: 30px;
    top: 26%;
  }

  .home .home-isi h1{
    font-size: 35px;
    top: 31%;

  }
  .home .home-isi .persegi{
    top: 38% ;
    width: 300px ;
    height: 6px;
  }

  .home .home-isi p{
    font-size: 15px;
    top: 42%;
  }

  .home .home-isi h4{
    font-size: 20px;
    top: 73%;

  }
/*============== Icon ============== */
  .home .home-isi .box{
    width: 90px;
    height: 90px;
    top: 74%;
    left: -7%;
  }
  .home .home-isi .box:hover{
    height: 110px;
  }
  .home .home-isi .box .content{
    right: -150px;
  }

/*============== Icon 1 ============== */
  .home .home-isi .box1{
    width: 90px;
    height: 90px;
    top: 84%;
    left: -7%;

  }
  .home .home-isi .box1:hover{
    height: 105px;
  }
 
  .home .home-isi .box1 .content1 h2{
    font-size: 20px;
  }
  .home .home-isi .box1 .content1{
    right: -150px;
  }

  /*============== Icon 2 ============== */
  .home .home-isi .box2{
    width: 90px;
    height: 90px;
    top: 74.9%;
    left: 20%;

  }
  .home .home-isi .box2:hover{
    height: 115px;
  }

  .home .home-isi .box2 .content2{
    right: -210px;
    bottom: 30px;
  }

  /*============== Icon 3 ============== */
  .home .home-isi .box3{
    width: 90px;
    height: 90px;
    top: 84%;
    left: 18%;

  }
  .home .home-isi .box3:hover{
    height: 115px;
  }

  .home .home-isi .box3 .content3{
    right: -190px;
    bottom: 20px;
  }


.portofolio h3{
  font-size: 30px;
  top: 5%;
}
/* ======== Card 1 ====== */
.portofolio .card1{
top: 20%;
width: 350px;
height: 250px;
}
.portofolio .card1 h4{
  font-size: 15px;
}
.portofolio .card1 h2{
  font-size: 20px;
}



.portofolio .card2{
  top: 59%;
  left: 5%;
  width: 350px;
  height: 250px;
}
.portofolio .card2 h4{
  font-size: 15px;
}
.portofolio .card2 h2{
  font-size: 20px;
}


.portofolio button{
  left: 40%;
  top: 90%;
}

  .contact-us form {
    width: 300px;
    margin: auto;
  }

  
}
